<div class="navigation">
  <ul>
    <li><a [routerLink]="['/']">Home</a></li>
    <li><a [routerLink]="['/bestpractices']">Best Practices</a></li>
    <li><a [routerLink]="['/examples']">Examples</a></li>
    <li><a [routerLink]="['/resources']">Resources</a></li>
  </ul>
</div>
<div class="header">
  <h1>JAMgular</h1>
  <h2>The Angular in the JAMstack jugular</h2>
</div>
<div class="definition">
  <p>
    J == JavaScript
    A == APIs
    M == Markup
  </p>
</div>
<router-outlet></router-outlet>
